# ƒê·ªí √ÅN CU·ªêI K·ª≤ (LTKHDL - CQ2017/2)
### GVHD: TS. Tr·∫ßn Trung Ki√™n

H·ªç v√† t√™n sinh vi√™n: Nguy·ªÖn H·ªØu Hu√¢n

MSSV: 1712466

------

## Import

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

---

## L·∫•y d·ªØ li·ªáu

D·ªØ li·ªáu m√† em s·ª≠ d·ª•ng ·ªü ƒë√¢y ƒë∆∞·ª£c l·∫•y t·ª´ [dataset c·ªßa Yelp tr√™n Kaggle](https://www.kaggle.com/yelp-dataset/yelp-dataset). Yelp l√† m·ªôt c√¥ng ty c√¥ng ngh·ªá l·ªõn ·ªü M·ªπ v·ªõi s·∫£n ph·∫©m n·ªïi b·∫≠t l√† Yelp website v√† Yelp app cho ph√©p ng∆∞·ªùi d√πng t√¨m ki·∫øm, ƒë√°nh gi√°, b√¨nh lu·∫≠n, ƒë·∫∑t ch·ªó d·ªãch v·ª• c·ªßa c√°c c·ªü s·ªü kinh doanh. 

Khi t·∫£i dataset n√†y v·ªÅ ƒë·ªìng nghƒ©a v·ªõi vi·ªác ƒë√£ ch·∫•p nh·∫≠n ƒëi·ªÅu kho·∫£n s·ª≠ d·ª•ng (m·ªôt file pdf kh√° d√†i) ƒë∆∞·ª£c vi·∫øt b·ªüi Yelp d√†nh ri√™ng cho dataset n√†y v√≠ d·ª• nh∆∞ l√† ch·ªâ ƒë∆∞·ª£c s·ª≠ d·ª•ng cho m·ª•c ƒë√≠ch h·ªçc t·∫≠p gi√°o d·ª•c,...

V√¨ dataset n√†y kh√° l·ªõn (t·∫ßm 10GB) v√† ch·ªß ƒë·ªÅ m√† em quan t√¢m ·ªü ƒë√¢y ch·ªâ l√† nh√† h√†ng, m√≥n ƒÉn n√™n em ch·ªâ s·ª≠ d·ª•ng 2 file json l√†: "yelp_academic_dataset_business.json" v√† "yelp_academic_dataset_review.json" trong s·ªë 5 file c·ªßa dataset. File "yelp_academic_dataset_business.json" ch·ª©a th√¥ng tin c·ªßa c√°c c∆° s·ªü kinh doanh, c√≤n file "yelp_academic_dataset_review.json" ch·ª©a th√¥ng tin ƒë√°nh gi√° c·ªßa ng∆∞·ªùi d√πng ƒë·ªëi v·ªõi c∆° s·ªü kinh doanh ƒë√≥.

-----

## Kh√°m ph√° d·ªØ li·ªáu

### Data Description

Ph·∫ßn m√¥ t·∫£ d·ªØ li·ªáu n√†y Yelp kh√¥ng cung c·∫•p tr√™n Kaggle m√† ƒë·ªÉ ·ªü trang ch·ªß c·ªßa m√¨nh [·ªü ƒë√¢y](https://www.yelp.com/dataset/documentation/main). Em c√≥ d·ªãch s∆° l·∫°i nh∆∞ sau:

- "yelp_academic_dataset_review.json":
    - *business_id*: m√£ id c·ªßa doanh nghi·ªáp
    - *name*: t√™n doanh nghi·ªáp
    - *address*: ƒë·ªãa ch·ªâ
    - *city*: th√†nh ph·ªë
    - *state*: m√£ bang 
    - *postal_code*: m√£ b∆∞u ch√≠nh
    - *latitude*: vƒ© ƒë·ªô
    - *longitude*: kinh ƒë·ªô
    - *stars*: sao trung b√¨nh
    - *review_count*: s·ªë l∆∞·ª£ng review
    - *is_open*: c√≥ c√≤n ho·∫°t ƒë·ªông hay kh√¥ng
    - *attribute*: m·ªôt s·ªë th√¥ng tin v·ªÅ doanh nghi·ªáp (ƒë·∫≠u xe nh∆∞ th·∫ø n√†o, thanh to√°n th·∫ª ƒë∆∞·ª£c kh√¥ng,..)
    - *categories*: danh s√°ch c√°c lo·∫°i c·ªßa doanh nghi·ªáp
    - *hours*: gi·ªü m·ªü c·ª≠a (Th·ª© Hai, Th·ª© Ba,...)
- "yelp_academic_dataset_review.json":
    - *user_id*: m√£ id ng∆∞·ªùi d√πng
    - *text*: n·ªôi dung review
    - *date*: ng√†y review
    - *review_id*: m√£ id c·ªßa review
    - *business_id*: m√£ doanh nghi·ªáp ƒë∆∞·ª£c review
    - *funny*: ƒë·ªô h√†i h∆∞·ªõc c·ªßa review n√†y ƒë∆∞·ª£c vote
    - *cool*: ƒë·ªô "ng·∫ßu" c·ªßa review n√†y ƒë∆∞·ª£c vote
    - *useful*: ƒë·ªô c√≥ √≠ch c·ªßa review ƒë∆∞·ª£c vote
    - *stars*: s·ªë sao review

### ƒê·ªçc d·ªØ li·ªáu v√†o DataFrame

Kh√° may m·∫Øn l√† m·∫∑c d√π c√°c file n√†y l√† json nh∆∞ng c·∫•u tr√∫c n√≥ kh√° "ngay ng·∫Øn" v√† c√≥ th·ªÉ ƒë·ªçc th√†nh DataFrame b·∫±ng h√†m `pd.read_json()`. Nh∆∞ng c≈©ng kh√° xui v√¨ file v·ªÅ reviews kh√° n·∫∑ng (6GB!), ban ƒë·∫ßu em c≈©ng th·ª≠ c·ªë ƒë·ªçc file n√†y b·∫±ng c√°ch ƒë·ªãnh nghƒ©a c√°c c·ªôt tr∆∞·ªõc khi ƒë·ªçc v√† chia th√†nh ƒë·ªçc c√°c 'chunk' nh·ªè, tuy nhi√™n m√°y v·∫´n b·ªã "ƒë∆°". ƒê·ªÉ ti·∫øt ki·ªám th·ªùi gian th√¨ em ƒë√£ l√™n Kaggle t·∫£i file ["reviews.csv"](https://www.kaggle.com/darshank2019/review) m√† ng∆∞·ªùi kh√°c ƒë√£ convert tr∆∞·ªõc ƒë√≥.

In [12]:
business_df = pd.read_json('data/yelp_academic_dataset_business.json', lines=True)

 V√¨ file csv n√†y l√† c·ªßa phi√™n b·∫£n reviews c√°ch ƒë√¢y 1 nƒÉm n√™n dung l∆∞·ª£ng ch·ªâ c√≤n kho·∫£ng 4GB. Nh∆∞ng 4GB v·∫´n l√† con s·ªë kh√° l·ªõn, cho n√™n sau khi ƒë·ªçc data description em ƒë√£ b·ªè ƒë·ªçc m·ªôt s·ªë c·ªôt em c·∫£m th·∫•y s·∫Ω kh√¥ng c·∫ßn d√πng t·ªõi (theo ti√™u ch√≠ b√†i n√†y c·ªßa em): "text", "cool", "funny" ƒë·ªÉ vi·ªác ƒë·ªçc ƒë∆∞·ª£c di·ªÖn ra "su√¥ng s·∫ª" v√† nhanh h∆°n.

In [8]:
reviews_df = pd.read_csv('data/yelp_academic_dataset_review.csv', usecols=['user_id','date','review_id','business_id','stars','useful'])

,user_id,date,review_id,business_id,useful,stars
0,b'hG7b0MtEbXx5QzbzE6C_VA',b'2013-05-07 04:34:36',b'Q1sbwvVQXV2734tPgoKj4Q',b'ujmEBvifdJM6h6RLv4wQIg',6,1.0
1,b'yXQM5uF2jS6es16SJzNHfg',b'2017-01-14 21:30:33',b'GJXCdrto3ASJOqKeVWPi6Q',b'NZnhc2sEQy3RmzKTZnqtwQ',0,5.0
2,b'n6-Gk65cPZL6Uz8qRm3NYw',b'2016-11-09 20:09:03',b'2TzJjDVDEuAW6MR5Vuc1ug',b'WTqjgwHlXbSFevF32_DJVw',3,5.0
3,b'dacAIZ6fTM6mqwW5uxkskg',b'2018-01-09 20:56:38',b'yi0R0Ugj_xUx_Nek0-_Qig',b'ikCg8xy5JIg_NGPx-MSIDA',0,5.0
4,b'ssoyf2_x0EQMed6fgHeMyQ',b'2018-01-30 23:07:38',b'11a8sVPMUFtaC7_ABRkmtw',b'b1b1eb3uo-w561D0ZfCEiQ',7,1.0
...,...,...,...,...,...,...
6685895,b'Xu_YazIajfsc7SRj1wJ6Mg',b'2018-07-03 12:17:27',b'0pCaq1hqAViS2N6ldlp_sQ',b'RXBFk3tVBxiTf3uOt9KExQ',1,5.0
6685896,b'V6BjjQICDO4q7TT3ZhaPWw',b'2013-05-22 15:32:08',b'jPCXuSBbI_cPocgoNBhdkg',b'yA6dKNm_zl1ucZCnwW8ZCg',13,1.0
6685897,b'PFiIECX8wuvi7P-1mCvIjA',b'2018-11-13 21:15:20',b'zwzO3yPdGbdgGy3-XQ0SWg',b'a192hdM0_UVCYLwPJv1Qwg',0,5.0
6685898,b'wu5R5_N7q5iqCBh6NBX26Q',b'2018-08-13 18:09:16',b'o8Nc2BJhKJXM6tRHJDRuPA',b'kOo4ZY2UQAX4j312mzQ8mA',1,5.0
6685899,b'Ej3mCvjcwVXCSPB_avIfjQ',b'2018-11-12 20:25:32',b'OKmOLFwtI-NjofTHAGzv1Q',b'PkqN5st3zZ_Xce_5QlBtNQ',2,3.0

### Kh√°m ph√°

Quan s√°t k√≠ch th∆∞·ªõc c·ªßa 2 DataFrame

In [13]:
business_df.shape

(209393, 14)

In [14]:
reviews_df.shape

(6685900, 6)

D·ªØ li·ªáu kh√° b·ª± üò• 14 c·ªôt, 209393 d√≤ng v·ªõi `business_df`, m·ªói d√≤ng l√† m·ªôt doanh nghi·ªáp. 6 c·ªôt 6685900 d√≤ng v·ªõi `reviews_df`, m·ªói d√≤ng l√† m·ªôt review.

Xem th√™m v·ªÅ th√¥ng tin c√°c ki·ªÉu d·ªØ li·ªáu c·ªßa t·ª´ng c·ªôt, v·ªÅ √Ω nghƒ©a c·ªßa t·ª´ng c·ªôt th√¨ ƒë√£ c√≥ ·ªü ph·∫ßn **Data Description**.

üè™ Th√¥ng tin v·ªÅ DataFrame business_df

In [15]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   209393 non-null  object
 1   name          209393 non-null  object
 2   address       209393 non-null  object
 3   city          209393 non-null  object
 4   state         209393 non-null  object
 5   postal_code   209393 non-null  object
 6   latitude      209393 non-null  float64
 7   longitude     209393 non-null  float64
 8   stars         209393 non-null  float64
 9   review_count  209393 non-null  int64
 10  is_open       209393 non-null  int64
 11  attributes    180348 non-null  object
 12  categories    208869 non-null  object
 13  hours         164550 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 22.4+ MB

**M·ªôt s·ªë l∆∞u √Ω:**
- C√≥ th·ªÉ th·∫•y postal_code l√† object th√¨ h∆°i l·∫°, nh∆∞ng sau khi t√¨m hi·ªÉu th√¨ postal code c·ªßa M·ªπ c√≥ bao g·ªìm c·∫£ ch·ªØ c√°i (kh√°c VN)
- hours v√† attribute ·ªü ƒë√¢y l√† object (c·ª• th·ªÉ l√† string) nh∆∞ng ƒë∆∞·ª£c l∆∞u theo format dict (hay ƒë√∫ng h∆°n l√† format json object)
- categories l√† object (str) ƒë∆∞·ª£c l∆∞u theo ki·ªÉu li·ªát k√™: A, B, C

In [24]:
business_df.postal_code.sample(3)

78469       44060
134499    M5J 2N3
46601       28105
Name: postal_code, dtype: object

In [23]:
business_df.hours.sample(3)

34071    {'Monday': '9:30-20:30', 'Tuesday': '9:30-20:3...
67334                                                 None
14918    {'Monday': '8:30-17:0', 'Tuesday': '8:30-17:0'...
Name: hours, dtype: object

In [25]:
business_df.attributes.sample(3)

59793     {'BusinessAcceptsCreditCards': 'True', 'Busine...
133772    {'BusinessAcceptsCreditCards': 'True', 'ByAppo...
55702     {'RestaurantsPriceRange2': '2', 'Caters': 'Tru...
Name: attributes, dtype: object

In [26]:
business_df.categories.sample(3)

120148    Food, Cafes, French, Bakeries, Restaurants, Bi...
10476     Active Life, Cycling Classes, Trainers, Yoga, ...
63893                  Beer, Wine & Spirits, Food, Shopping
Name: categories, dtype: object

**V·∫•n ƒë·ªÅ:**
- C√°c c·ªôt ch·ª©a gi√° tr·ªã thi·∫øu bao g·ªìm: attributes, categories, hours. 2 c√°i c√≤n l·∫°i th√¨ kh√¥ng sao nh∆∞ng categories thi·∫øu th√¨ h∆°i kh√≥ khƒÉn trong vi·ªác nh·∫≠n di·ªán lo·∫°i d·ªãch v·ª•. C√≥ kh·∫£ nƒÉng l√† s·∫Ω ƒë∆∞·ª£c drop nh·ªØng d√≤ng thi·∫øu c·ªôt n√†y.

‚úç Th√¥ng tin v·ªÅ DataFrame reviews_df

In [17]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6685900 entries, 0 to 6685899
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   date         object
 2   review_id    object
 3   business_id  object
 4   useful       int64
 5   stars        float64
dtypes: float64(1), int64(1), object(4)
memory usage: 306.1+ MB

**V·∫•n ƒë·ªÅ:**
- C·ªôt date c·∫ßn ph·∫£i ƒë·ªïi tr·ª´ object sang datetime
- stars c≈©ng c·∫ßn ƒë·ªïi sang int, v√¨ th·ª±c ra c∆° ch·∫ø rating c·ªßa Yelp ch·ªâ c√≥ t·ª´ 1-> 5 sao th√¥i, kh√¥ng l·∫ª.

In [27]:
reviews_df.stars.unique()

array([1., 5., 4., 3., 2.])

In [3]:
# 1 = open, 0 = closeda
business_df = business_df[business_df['is_open']==1]

In [4]:
business_df.shape

(168903, 14)

In [11]:
reviews_df.head()

,user_id,date,review_id,business_id,useful,stars
0,b'hG7b0MtEbXx5QzbzE6C_VA',b'2013-05-07 04:34:36',b'Q1sbwvVQXV2734tPgoKj4Q',b'ujmEBvifdJM6h6RLv4wQIg',6,1.0
1,b'yXQM5uF2jS6es16SJzNHfg',b'2017-01-14 21:30:33',b'GJXCdrto3ASJOqKeVWPi6Q',b'NZnhc2sEQy3RmzKTZnqtwQ',0,5.0
2,b'n6-Gk65cPZL6Uz8qRm3NYw',b'2016-11-09 20:09:03',b'2TzJjDVDEuAW6MR5Vuc1ug',b'WTqjgwHlXbSFevF32_DJVw',3,5.0
3,b'dacAIZ6fTM6mqwW5uxkskg',b'2018-01-09 20:56:38',b'yi0R0Ugj_xUx_Nek0-_Qig',b'ikCg8xy5JIg_NGPx-MSIDA',0,5.0
4,b'ssoyf2_x0EQMed6fgHeMyQ',b'2018-01-30 23:07:38',b'11a8sVPMUFtaC7_ABRkmtw',b'b1b1eb3uo-w561D0ZfCEiQ',7,1.0

----

## ƒê∆∞a ra c√°c c√¢u h·ªèi c·∫ßn tr·∫£ l·ªùi

------

## T√¨m c√¢u tr·∫£ l·ªùi cho t·ª´ng c√¢u h·ªèi

-------

## Nh√¨n l·∫°i qu√° tr√¨nh l√†m ƒë·ªì √°n

---

## T√†i li·ªáu tham kh·∫£o